body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 18px;
    display: flex;
    align-items: center;         /* v */
    justify-content: center;     /* h */
    flex-direction: column;
    text-align: center;
}


h2 {
    color: #222;
    font-size: 28px; 
}

button {
    background-color:#4CAF50;
    color: white;
    padding: 14px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-top: 10px;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
